body {
    font-family: roboto;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section1 {
    background-color: #1F2937;
    color: hsl(0deg 0% 100%);
    padding: 16px 100px;
}

.section1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.section1 a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.content {
    display: flex;
    margin-bottom: 50px;
    gap: 16px;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
}

.section1 p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 button {
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 6px;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.img {
    width: 450px;
    height: 100;
    outline: 1px solid orange;
    background-color: silver;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info-header {
    font-size: 28px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 48px;
}

.containers {
    display: flex;
    gap: 32px;
}

.div {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 149, 255);
    border-radius: 8px;
}

.containers span {
    display: inline-block;
    width: 100px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.764);
}

.section3 {
    background-color: #E5E7EB;
    height: 250px;
    margin: 40px 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content3 {
    width: 500px;
    font-size: 22px;
    color: #1F2937;
}

/* To push the footer down */
.flex {
    flex: 1;
}

.section4 {
    background-color: #3882F6;
    color: white;
    margin: auto;
    display: flex;
    width: 700px;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 4px;
}

.section4 button {
    padding: 2px 16px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}

.section4 h3, p {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}